@font-face{
	font-family: 'Poppins';
	src: url('fonts/Poppins/Poppins-Regular.ttf');
}
body{
	font-family: 'Poppins', sans-serif;
	background-color: #E0D8B0;
	padding: 0;
	margin: 0;
}
header{
	background-color:#FCFFE7 ;
	margin: 0;
	padding: 0;
	height: 55px;
}
.header_part{
	display: inline-block;
	vertical-align: middle;
}
#logo{
	height: 35px;
}
#header_l{

}
#header_l .el{
	display: inline-block;
	vertical-align: top;
	height: 35px;
	line-height: 35px;
	margin: 5px;
	padding: 5px;
	font-size: 20px;
}
#header_r{
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0;

}
.btn{
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	border-radius:3px;
	margin: 5px;
	padding: 5px;
	height: 35px;
	line-height: 35px;
}
.btn:hover{
	background-color: #CE9461;
	transition-duration: 200ms;
}
content{
}
.fields{
	display: inline-block;
	margin: 10px;
	height: calc(100vh - 185px);

}
#canvas{

}
#cell_num{
	display: inline-block;
	height: 500px;
	vertical-align: top;
} 
.cell_num{
	margin: 0;
	background-color: #FCFFE7;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

} 
#cell_name{
	width: 500px;
	margin-left: 21px;
	font-size: 0;
}
.cell_name{
	display: inline-block;
	font-size: 16px;
	margin: 0;
	margin-bottom: 3px;
	width: 48px;
	background-color: #FCFFE7;
	border-right: 2px solid black;
}
#start_game1{
	background-color: #CE9461;
	font-size: 20px;
	width: 100px;
	margin: auto;
	padding: 5px;
	text-align: center;
	border-radius:3px;
}
#start_game2{
	background-color: #CE9461;
	font-size: 20px;
	width: 100px;
	margin: auto;
	padding: 5px;
	text-align: center;
	border-radius:3px;
}
#start_game1:hover{
	background-color: #FCFFE7;
	transition-duration: 200ms;
}
#start_game2:hover{
	background-color: #FCFFE7;
	transition-duration: 200ms;
}
footer{
	background-color: #CE9461;
	padding: 50px;
	height: 30px;
}
#foot_text{
	text-align: center;
	color: white;
}
.dark{
	background-color: #333;
}
.dark footer{
	background-color: #453120;
}
.dark header{
	background-color: #545542;
	color: #FCFFE7;
}
.dark #start_game1{
	background-color: #545542;
	color: #FCFFE7;
}
.dark #start_game2{
	background-color: #545542;
	color: #FCFFE7;
}
.dark #start_game1:hover{
	background-color: #FCFFE7;
	color: #000;
}
.dark #start_game2:hover{
	background-color: #FCFFE7;
	color: #000;
}
.dark header .btn:hover{
	background-color: #FCFFE7;
	color: #000;
}
.dark .cell_num{
	background-color: #545542;
	color: #fff;
}
.dark .cell_name{
	background-color: #545542;
	color: #fff;
}
#dark_mode{
	cursor: pointer;
}